.cart-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
}

.cart-header {
  display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr 0.5fr; /* ضفنا عمود خامس للـ X */
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  gap: 10px;
}

.cart-item {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
 
}

.product-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.product-name {
  font-weight: 500;
  font-size: 20px;
}
.cart-header ,.product-title {
    font-size: 25px;
}
.quantity-control {
  display: flex;
  margin-top: 10px;
  padding-bottom: 7px ;
  align-items: center;
  justify-content: center;
  background-color: #eaf2ef;
  gap: 8px;
  border: 1px solid #00695c ;
  border-radius: 4px;
  width: 100px;
}

.quantity-control button {
  width: 28px;
  height: 30px;
  padding: 5px 5px;
  background-color: #eaf2ef;
  color: #004d40;
  font-size: 20px;
  cursor: pointer;
}

.quantity {
  font-size: 25px;
  min-width: 20px;
  text-align: center;
}

.price,
.item-total {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-right: 40px;
  
}

.cart-summary {
  margin-top: 70px;
  border-top: 2px solid #ddd;
  padding-top: 20px;
}

.cart-summary h2 {
  text-align: left;
  margin-bottom: 20px;
  color: #000000;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 18px;
}

.total-row {
  font-weight: bold;
  font-size: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.remove-btn {
  background: none;
  border: none;
  color: #ff4d4f;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.remove-btn:hover {
  color: #c82333;
}


.confirm-center {
  text-align: center;
  margin-top: 25px;
}

.confirm-order-btn {
  padding: 12px 30px;
  width: 40%;
  background-color: #00695c;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-order-btn:hover {
  background-color: #004d40;
}
.empty-cart-msg {
  text-align: center;
  color: #555;
  font-size: 18px;
  margin: 30px 0;
}
