.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.catg-sidebar {
  padding: 20px 50px;
  border-right: 1px solid #ccc;
  width: 260px;
}

.catg-sidebar h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  color: #111;
}

.catg-sidebar label {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #888;
}

.catg-sidebar input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
  accent-color: #00695c;
}
