
.product-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  
}

.product-left {
  flex: 1;
  text-align: center;
}

.product-left img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-colors {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.product-colors img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.product-colors img:hover {
  border-color: #00695c;
}

.product-right {
  flex: 1;
  margin-right: 500px;
  text-align: left;
}

.product-right h2 {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: left;
}
.product-name {
  font-size: 16px;
  color: #888;
  margin-top: 20px;
  text-align: center;
}

.product-price {
  color: #333;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.product-price {
  color: #00695c;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.desc {
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: left;
}


.action-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  
}

/* زرار Add to Cart */
.detail-add-cart-btn {
  padding: 12px 24px;
  background-color: #00695c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  flex: 1;
  min-width: 150px;

}

.detail-add-cart-btn:hover {
  background-color: #004d40;
}

/* زرار القلب والشير */
.detail-icon-btn {
  background-color: #eaf2ef; /* أخضر فاتح */
  border: 1px solid #00695c;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
}

.detail-icon-btn:hover {
  background-color: #e0f2f1;
}

.detail-icon-btn.fav-btn i.fa-heart,
.detail-icon-btn.fav-btn i.fa-regular.fa-heart {
  color: #00695c;
  font-size: 18px;
}
.share-btn i.fa-right-left {
  color: #00695c; 
  font-size: 18px;
}




/* يلف الكونتر + الأزرار كلها في سطر */
.action-row {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap; /* عشان الموبايل */
  margin-top: 20px;
}





.related-work {
  text-align: center;
  margin-top: 30px;
}

.related-work h2 {
  color: #000000;

  margin-bottom: 10px;
}

.related-work p {
  color: #555;
  margin-bottom: 40px;
  font-size: 16px;
}

.divider {
  height: 6px;
  background-color: #00695c;
  width: 100%;
  margin: 50px 0 30px;
  border-radius: 3px;
}
/*  */
/* الكونتر */
.quantity-control {
margin-top: 10px;
  padding-bottom: 7px ;
}

.quantity-control button {
  padding: 5px 5px;
  height: 30px;
  font-size: 20px;
  color: #00695c;
}

