
.header-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}





.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 0px 10px;
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  top: 50px; 
  z-index: 10;
}

.search-button {
  background-color: #00695c;
  border: none;
  margin-bottom:10px ;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
  flex-grow: 1;
  margin-left: 10px;
  margin-bottom: 5px;
}
/* price */
.price-filter {
  margin-bottom: 80px;
}

.price-filter input[type="range"] {
  width: 100%;
  padding-right: 20px;
  accent-color: #00695c;
}

.price-filter p {
  margin-top: 3px;
  margin-right: 30px;
  font-size: 14px;
  color: #888;
}
/*  */





/* === الشريط اللي فيه الأزرار === */
.card-buttons {
  position: absolute;
  bottom: 10px; /* خليها فوق شويه من تحت الصورة */
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #013028; /* خلفية سوداء بشفافية */
  display: flex;
  justify-content: center;
  align-items: center;
 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .card-buttons {
  opacity: 1;
}

/* === الأزرار نفسها === */
.icon-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
}

.icon-btn i {
  color: white;
  font-size: 16px;
}
.card-buttons button:not(:last-child) {
  border-right: 1px solid white;
  padding-right: 10px;
  margin-right: 8px;
}
/* fav_product_grid */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px; /* مسافة بالعرض */
 
}


